--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
torchvision==0.17.0+cpu
flask
flask-cors
python-dotenv
google-genai
google-cloud-vision
sentence-transformers
numpy
scipy
pillow
requests
gunicorn